li{
    list-style: none;
}

/* .content{
    display: none;
    height: 100px;
    background-color: skyblue;
}

.content.active{
    display: block;
} */

.content{
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: skyblue;
}